<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xyh.catboat.mapper.CatCategoryMapper" >
    <select id="findAll" resultType="catCategory">
        select category_id,category_name,category_body,category_hair from cat_category
    </select>
</mapper>